<ion-header>
  <ion-toolbar>
    <ion-title>
      Groceries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="Groceries List View">
      <ion-img src="/assets/market.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to Groceries</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-list lines="bottom">
      <ion-list-header>
        <ion-label>Items to get: </ion-label>
      </ion-list-header>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Milk</ion-label>
        <p>1</p>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
        <ion-item-sliding>
      <ion-item>
        <ion-label>Eggs</ion-label>
        <p>dozen</p>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
        <ion-item-sliding>
      <ion-item>
        <ion-label>Orange Juice</ion-label>
        <p>1</p>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
        <ion-item-sliding>
      <ion-item>
        <ion-label>Avacodo</ion-label>
        <p>3</p>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
</ion-list>
</ion-content>
